<div class="page-area">
    <div class="text-center">
      <h1>products</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit veritatis consequuntur dicta recusandae, autem ad expedita. Minima doloremque molestiae dolorem officia voluptas vero corporis nam?</p>
    </div>
  
      <hr class="mb-3">
      <div class="row">
          <div class="col-md-12">
              <div class="card" appTestdirective>
                  <img src="./assets/images/laptop.jpg" class="card-img-top" style="width: 200px; height: 200px;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">laptop</h5>
                    <p class="card-text">Some quick example text to build on the</p>
                    <a routerLink="laptop" class="btn btn-success">see more</a>
                  </div>
                </div>
                <div class="card" appTestdirective>
                  <img src="./assets/images/mobile.jpg" class="card-img-top" style="width: 200px;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">mobile</h5>
                    <p class="card-text">Some quick example text to build on the</p>
                    <a routerLink="mobile" class="btn btn-success">see more</a>
                  </div>
                </div>
                <div class="card" >
                  <img src="./assets/images/tv.jpg" class="card-img-top" style="width: 200px;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">tv</h5>
                    <p class="card-text">Some quick example text to build on the</p>
                    <a routerLink="tv" class="btn btn-success">see more</a>
                  </div>
                </div>
                <div class="card" >
                  <img src="./assets/images/machine.jpg" class="card-img-top" style="width: 200px;height: 200px;" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">machine</h5>
                    <p class="card-text">Some quick example text to build on the</p>
                    <a routerLink="machine" class="btn btn-success">see more</a>
                  </div>
                </div>
          </div>
      </div>
  </div>