<div class="pagearea">
    <div class="text-center">
        <h1>Home</h1>
        <div #myname>
            <h1>Username is <span class="text-success">{{username}}</span></h1>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6">
                <button (click)="changechildproperty()">change child property</button> &nbsp;
                <button (click)="callchildmethod()">call child method</button>
                <br><br>

                <div class="custom-dropdown">
                    <span class="dropdown-header col-md-5" appDropdown>
                        my dropdown
                    </span>
                    <div class="dropdown-content col-md-5">
                        <a href="#">item 1</a>
                        <a href="#">item 2</a>
                        <a href="#">item 3</a>
                        <a href="#">item 4</a>
                        <a href="#">item 5</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <app-comp1>
                    <p #childcontent>this is content child paragraph</p>
                </app-comp1>
            </div>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>
            <br><br><br><br><br>

        </div>
</div>

